.photo_background {
  position: relative;
  top: -30px;
  min-height: 800px;
}
.photo_board_list {
  width: 950px;
  position: relative;
  margin: 0 auto;
  min-height: 800px;
}
.follow_user {
  display: inline-flex;
  position: relative;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 300px;
}
.post_section {
  display: inline-flex;
}
.post_writer {
  // border 값 지우지 말기
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 11.5px 8px;
  padding-bottom: 0;
  margin-left: 6px;
  height: 37px;
  font-size: 1.2rem;
}
.follow_btn {
  position: relative;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgba(123, 162, 236, 0.7);
  border-radius: 10px;
  padding: 3px 7px;
  padding-bottom: 0;
  margin-top: 11px;
  margin-left: 3px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.follow_btn:active {
  position: relative;
  top: 1px;
  left: 0.5px;
}
.followline {
  position: relative;
  top: -2px;
  left: 5px;
  color: rgb(193, 193, 193);
}
.post_region {
  color: rgb(154, 154, 154);
  position: relative;
  left: 12px;
  top: 14px;
}
.post_view_count {
  position: relative;
  display: inline-flex;
  left: 500px;
}
.post_likes {
  margin-left: 18px;
}
.modified_date {
  display: inline-block;
  position: relative;
  top: 32px;
  left: 370px;
  color: rgba(162, 162, 162, 0.8);
}
.post_content {
  position: relative;
  top: 20px;
  min-height: 200px;
}
.content_box {
  border-top: 1px solid rgba(156, 156, 156, 0.2);
  min-height: 500px;
  margin-bottom: 50px;
}
.content_box img {
  max-height: 300px;
}
.post_hr {
  position: relative;
  border-top: 0.3px solid rgba(156, 156, 156, 0.6);
}
.commentList {
  margin-top: 10px;
  margin-left: 3px;
}

// 수정, 삭제 버튼
.post_edit_button {
  display: inline-block;
  position: relative;
  left: 850px;
  top: -50px;
}
.post_edit_button button {
  background-color: rgba(104, 200, 238, 0.3);
  font-family: "Pretendard-Regular";
  padding: 5px 8px;
  cursor: pointer;
  border: 0px;
  border-radius: 3px;
  color: rgb(119, 119, 119);
}
.post_edit_btn {
  margin-right: 4px;
}

// 좋아요
.post_like_btn {
  position: absolute;
  background-color: inherit;
  border: 0px;
  bottom: 0px;
  left: 910px;
  font-size: 25px;
  cursor: pointer;
}
.post_like_btn:active {
  font-size: 26px;
  bottom: -1px;
}

// qill-editor html코드 수정
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
