.home_notHl {
  color: inherit;
}
.main_top_highlight {
  color: rgb(104, 200, 238);
}
.board_write_button {
  font-family: "Pretendard-Regular";
  background-color: rgba(104, 200, 238, 0.3);
  position: absolute;
  top: 50px;
  right: 80px;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
.board_write_active:active {
  position: absolute;
  top: 51px;
}
.board_background {
  width: 91%;
  position: relative;
  left: 20px;
  top: 60px;
  min-height: 800px;
  height: 100%;
}
.button_list > select {
  font-family: "Pretendard-Regular";
  position: relative;
  background-color: rgba(216, 216, 216, 0.5);
  border: 0px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 15px;
  left: 15px;
  top: 10px;
}
.button_list > select > option {
  background-color: white;
}
// 글쓴이 표시
.board_wrap_profile {
  cursor: pointer;
}
.board_wrap_nick {
  cursor: pointer;
}

// 게시판 글 목록
.board_wrap {
  display: inline-block;
  max-width: 28%;
  margin-bottom: 15px;
}
.board_wrap:nth-child(n) {
  margin-left: 35px;
}
.board_wrap_writter {
  display: inline-flex;
  position: relative;
  top: -5px;
  left: 5px;
}
.board_wrap_profile {
  position: relative;
  top: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.board_wrap_nick {
  position: relative;
  left: 10px;
}
.photo_wrapper {
  width: 280px;
  height: 280px;
}
.board_list_photo {
  width: 280px;
  height: 270px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.board_list_photo:hover ~ .board_list_content {
  color: gray;
}

.board_list_content {
  display: inline-block;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
.board_list_content:hover {
  color: gray;
}
.post_writerImg {
  border: 0.3px solid rgba(176, 176, 176, 0.6);
}
