.home_notHl {
  color: inherit;
}
.main_top_highlight {
  color: rgb(104, 200, 238);
}
.popular_contents {
}
.board_write_button {
  position: absolute;
  top: 100px;
  right: 50px;
}
.board_background {
  border: 1px solid black;
  width: 90%;
  position: relative;
  left: 30px;
  top: 110px;
  height: 800px;
}
