.board_background2 {
  margin-top: -50px;
}
.board_title {
  position: relative;
  border: 1px solid #ccc;
  width: 877px;
  left: 100px;
  height: 50px;
  margin-bottom: 20px;
}
.board_title:focus {
  outline: none;
}
.zone_list_write {
  position: relative;
  top: 47px;
  height: 40px;
  border: 1px solid #ccc;
  display: inline-block;
}
.write_contents {
  position: relative;
  top: 70px;
}
.photoGraphy:hover {
  text-decoration: underline;
}

// QuillEditor.jsx
.editor_write_btn {
  font-family: "Pretendard-Regular";
  background-color: rgba(104, 200, 238, 0.3);
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
.editor_write_done {
  position: relative;
  top: 22.5px;
  left: 870px;
}
.editor_write_cancel {
  position: relative;
  top: -16px;
  left: 760px;
}
.quill {
  height: 500px;
  min-height: 500px;
}
