.review_wrap {
  position: relative;
  top: -730px;
  width: 800px;
  min-height: 500px;
  left: 250px;
}
.review_tr {
  border: 1px solid rgb(196, 196, 196);
}
.review_th_title {
  width: 500px;
  border-right: 1px solid rgb(196, 196, 196);
}
.review_th_date {
  width: 200px;
  border-right: 1px solid rgb(196, 196, 196);
}
.review_th_views {
  width: 50px;
}
// review list
.review_list {
  border-bottom: 1px solid rgba(128, 128, 128, 0.463);
  padding-bottom: 12px;
  height: 120px;
}
.review_list:first-child {
  border-top: 1px solid rgba(128, 128, 128, 0.463);
}
.myReview {
  display: inline-flex;
  position: relative;
  width: 100%;
  top: -60px;
  height: 20px;
  left: 35px;
  color: rgb(66, 66, 66);
}
.myReview_title {
  position: relative;
  display: inline-block;
  left: 5px;
  width: 490px;
}
.myReview_title > span {
  cursor: pointer;
}
.myReview_title > span:hover {
  text-decoration: underline;
}
.heart_bottom {
  display: inline-block;
  position: absolute;
  top: 87px;
  left: 0;
}
.heart_bottom > span {
  margin-right: 10px;
}
.board_cate {
  display: inline-block;
  color: gray;
  font-size: 15px;
}
.review_title {
  position: absolute;
  font-size: 19px;
  // font-weight: bold;
  color: black;
  top: 45px;
  left: 0px;
}
.myReview_date {
  position: relative;
  text-align: center;
  width: 200px;
  right: 0;
  top: 30px;
  left: 95px;
  color: gray;
}
// checkbox
.checkbox {
  position: relative;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  left: 3px;
  top: 30px;
}
