.profile_body {
  position: relative;
  left: 60px;
}
.profile_container_wrap {
  position: relative;
  left: -20px;
  bottom: 830px;
}
.input_Id {
  border: 1px solid rgb(104, 104, 104);
  background-color: rgb(225, 225, 225);
}
.mypage_title {
  font-size: 25px;
  color: rgba(73, 73, 73, 0.5);
  position: relative;
  left: -150px;
}
.profileHr {
  border: 0px;
  border-top: 1px solid rgba(104, 104, 104, 0.4);
  position: relative;
  top: 115px;
  width: 500px;
}
// 파일 업로드
.file_upload_box {
  position: relative;
  display: inline-block;
  width: 480px;
  height: 180px;
  margin-bottom: 20px;
}
.file_box {
  position: relative;
  width: 150px;
  height: 150px;
  top: 10px;
  left: 30px;
}
.file_box > img {
  position: relative;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.file_upload_input {
  position: absolute;
  top: 80px;
  left: 220px;
}
.upload_photo_btn {
  font-family: "Pretendard-Regular";
  position: relative;
  top: -20px;
  left: 28px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(179, 179, 179, 0.5);
}
// 버튼
.photo_button {
  position: relative;
  left: 40px;
}
// 탈퇴 버튼
.deleteUser {
  position: relative;
  font-size: 12px;
  color: rgba(98, 98, 98, 0.8);
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 5px;
  cursor: pointer;
  top: 20px;
  left: 140px;
  display: inline-block;
}
.set_basic_profile {
  margin-left: 10px;
  width: 120px;
}
