.bar_body {
  font-family: "Pretendard-Regular";
  width: 100%;
  position: fixed;
  z-index: 99999;
  background-color: white;
}
.bar_contain {
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  width: 100%;
  height: 80px;
}
.bar_body_wrap {
  position: relative;
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  div {
    display: inline-block;
  }
}
.top_logo {
  font-family: "LeferiPoint-WhiteObliqueA";
  font-size: 2rem;
  width: 150px;
  a {
    position: relative;
    left: 28%;
    top: 22px;
    color: rgb(160, 218, 241);
    font-weight: bold;
  }
}
// 탑바 검색 인풋창
.search_topbar > p {
  position: absolute;
  right: 600px;
  top: 12px;
  scale: 1.3;
}
.search_topbar_input {
  position: absolute;
  top: 20px;
  height: 38px;
  width: 200px;
  right: 380px;
  outline: none;
  border: 1px solid rgba(202, 202, 202, 0.7);
}

// 좌측 메뉴
// .bar_body_left {
//   min-height: 100%;
//   position: fixed;
//   z-index: 99999;
// }
// .bar_contain_left {
//   height: 8000px;
//   width: 180px;
// }
// .bar_body_wrap_left {
//   border-right: 1px solid rgba(202, 202, 202, 0.5);
//   height: 100%;
// }
// .leftMenu {
//   display: inline-block;
//   position: relative;
//   top: 80px;
//   left: 20px;
//   div {
//     font-size: 18px;
//     position: relative;
//     width: 100px;
//     left: 15px;
//     margin-bottom: 20px;
//     cursor: pointer;
//   }
// }

// 로그인, 회원가입 메뉴
.sign_topbar {
  position: absolute;
  right: 120px;
  top: 30px;
}
.login_topbar .signUp_topbar {
  display: inline-block;
  cursor: pointer;
}
.login_topbar {
  margin-right: 25px;
}
.login_topbar:hover {
  text-decoration: underline;
}
.signUp_topbar:hover {
  text-decoration: underline;
}

// 로그아웃 버튼
.sign_topbar_user {
  position: absolute;
  top: 17px;
  right: -150px;
  width: 500px;
}
.logout_topbar {
  position: relative;
  left: 20px;
  cursor: pointer;
}

// 탑바 닉네임
.userProfile {
  position: relative;
  left: 65px;
  cursor: pointer;
}
.userNick {
  position: relative;
  display: inline-block;
  left: 23px;
  color: gray;
}
.userNick:hover {
  text-decoration: underline;
}
.userImg {
  position: absolute;
  top: 5px;
  left: -30px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(96, 96, 96, 0.3);
  border-radius: 50%;
}
// 알림 아이콘
.nonfication_icon {
  position: relative;
  color: rgb(0, 39, 39);
  top: 3px;
  left: 35px;
  scale: 1.2;
}
.nonfication_icon:hover {
  color: black;
  scale: 1.25;
}
