.findpwBtn {
  position: relative;
  left: -23px;
}
.login_password > p {
  position: relative;
  left: 13px;
}
.findpw_content {
  position: relative;
  left: -9px;
}
.new_pw {
  position: relative;
  left: 10px;
  top: 25px;
}
.new_pw > p {
  position: relative;
  right: 50px;
}
.updatePwBtn {
  position: relative;
  left: -31px;
}
