.signup_container_content > form > div {
  border: 1px solid rgba(176, 222, 240, 0);
  position: relative;
  right: 180px;
}
.signBtn {
  font-family: "Pretendard-Regular";
  position: relative;
  width: 26.6%;
  height: 30px;
  top: 13px;
  left: 23px;
  cursor: pointer;
  border: 1px solid rgba(179, 179, 179, 0.5);
}
.signBtn:hover {
  position: relative;
  height: 29.8px;
  top: 13.5px;
  background-color: rgba(148, 148, 148, 0.3);
}
.fast_signUp {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  top: 25px;
  left: 22px;
  width: 300px;
  border: 1px solid rgba(179, 179, 179, 0.3);
  border-radius: 15px;
}
.fast_signUp > p {
  position: relative;
  left: -4px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.fast_signUp > div {
  position: relative;
  left: -10px;
  display: inline-block;
  margin-left: 20px;
}
.fast_signUp > div > img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.googleSign {
  border: 1px solid rgba(179, 179, 179, 0.3);
  border-radius: 50%;
}
// 유효성 검사 표시 라인
.signUp_alert_p {
  position: relative;
  font-size: 13px;
  text-align: left;
  width: 290px;
  top: 6px;
  left: 55.7%;
  color: rgba(241, 0, 0, 0.9);
}
